<div class="header">
    <div class="resumetitle">
        <h1> Harigovind P</h1>
        <h3> Front-End Developer</h3>
    </div>
    <div class="contact">
        <div class="details">
            <p>Email: harigovindputumana&#64;gmail.com</p>
            <p>Phone: +91 9400977141</p>
            <p>LinkedIn:<a href="https://www.linkedin.com/in/harigovindp/"> Harigovind P</a></p>
        </div>
    </div>
</div>
<div class="container">
    
    <div class="row">
        
        <div class="col-md-6">
           
            <!-- Education -->
            <div class="section">
                <h2>Education</h2>
                <p class="subheader">Bachelor's Degree in Computer Science</p>
                <p>Indian Institute of Information Technology Kottayam</p>
                <p>2021-25</p><br>

                <p class="subheader">Higher Secondary Education</p>
                <p>Vivekodayam BHSS Thrissur</p>
                <p>2019-21</p>
            </div>
            <div class="section">
                <h2>Projects</h2>
                <p class="subheader">Music Player Website using Spotify API</p>
                <p>Tools Used: React, Axios, Node.js</p>
                <p>Duration: May 2024</p>
                <br>
                <p class="subheader">Prototype of Rainfall Data Management System</p>
                <p>Tools Used: Angular, Django, MySQL</p>
                <p>Duration: December 2023 - January 2023</p>
                <br>
                <p class="subheader">Persona - Web browser extension</p>
                <p>Duration: October 2023</p>
                <br>
                <p class="subheader">Personalised Virtual Assistant using Python APIs</p>
                <p>Duration: December 2022 - January 2023</p>
            </div>
            
        </div>
        <div class="col-md-6">
            
            <!-- Skills -->
            <div class="section">
                <h2>Skills</h2>
                <ul class="skills">
                    <li>HTML/CSS</li>
                    <li>JavaScript/TypeScript</li>
                    <li>Bootstrap</li>
                    <li>Angular</li>
                    <li>React</li>
                    <li>Node.js</li>
                    <li>Python</li>
                    <li>Django</li>
                    <li>Flask</li>
                </ul>
            </div>
            <div class="section">
                <h2>Experience</h2>
                <p>Lead of the IIITK Quiz Club</p>
                <p>Co-ordinated and Hosted several events for the college fests</p>
                <p>Co-founder of Prajna Quiz Club</p>
                <p>Content creator at Prajna Quiz Club</p>
            </div>
        </div>
    </div>
</div>
