<div class="flex-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-lg-3  cell1"></div>
                    <div class="col cell2">
                        <div class="introheader"> About Me</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 cell3"></div>
                    <div class="col cell4">
                        <div class="intro col-lg-12"> I am a Computer Science and Engineering graduate student at IIIT Kottayam. I am a front-end developer and designer with significant skills on backend tools as well. A passionate quizzer as well as an artist, I'm one among the founders of Prajna Quiz Club.
                            <br><br><button class="btn" (click)="routeTo('resume')">View Resume</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mb-4">
                <div class="intro-section d-flex flex-column justify-content-between">
                    <div class="profile-picture">
                        <img src="assets/images/dp.png" class="rounded-circle" alt="Profile Picture" width="150" height="150">
                    </div>
                    <p class="text-center mb-3 namecard">Harigovind P</p>
                    <p class="text-center mb-3 subtitle">Front-End Developer <br><br> UI/UX Designer</p>
                    <div class="footer mt-3 text-center col-lg-12">
                    <p></p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>

